<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Pizza</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container my-2" align="left">

    <p th:if="${pizzas == null}">No pizzas found!</p>
    <div>
        <div>
            <h2>Pizzas</h2>
            <table>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="pizza : ${pizzas}">
                    <td th:text="${pizza.id}"></td>
                    <td th:text="${pizza.name}"></td>
                    <td th:text="${pizza.price}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
